* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	direction: rtl;
	font-family: titleFont;
}

@font-face {
  font-family: titleFont;
  src: url(horevclm-heavy-webfont.ttf);  
}


ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: white;
}

nav{
    direction: rtl;
}
  
li {
      float: right;
}
  
li a {
      display: block;
      color: black;
      text-align: center;
      padding: 14px 16px;
      padding-bottom: 2px;
      text-decoration: none;
}
  
  
nav ul li{
    margin-left:5px;
    text-align: center;
}
  
  
nav ul li a{
	color: black;
	padding: 8px;
	font-size: 30px;
	border: none;
}
  
nav ul li a:active{
    color: indianred;
}
  
#profile{
  font-family: Rubik,BlinkMacSystemFont,-apple-system,Segoe\ UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira\ Sans,Droid\ Sans,Helvetica\ Neue,Helvetica,Arial,sans-serif;
}

#homePage{
	background-color: #e0482d;
	color: black;
	padding: 8px;
	font-size: 30px;
	border: none;
	border-radius: 6px;
	border: 2px #000 solid;
}
 
nav ul ul {
  display: none;
}
  
nav ul li:hover > ul {
  display: block;
}
  
nav ul li ul {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 0;
  display: none;
  padding: 0%;
  z-index: 1;
}
  
.dropDown{
  background-color: white;
}
    
ul li:hover > ul,
    ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;	
  min-width: 130px;
  border-radius: 5px;
  
}
    
ul li ul li {
  clear: both;
  width: 100%;
  height: fit-content;
  background-color: white;
      
}
  
ul li:hover{
  background-color: rgb(250, 244, 244);
  border-radius: 10px;
  border: 2px #000 solid;
}
  
ul li ul li:hover{
  background-color: rgb(250, 244, 244);
}
  
ul li ul li a{
  text-align: right;
  margin: 2px;
  padding-left: 7px;
  font-size: 20px;
}
  
ul li ul li a:hover{
  color: #212329;
}
  
  
.columns {
  color: rgb(131, 139, 131);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 1;
  margin: 1;
  list-style: none;
}
    
.column {
  color: rgb(131, 139, 131);
}
    
#navbar{
  background-color: var(--orange);
  background-repeat: no-repeat;
  height: 54px;
  z-index: 2;
}
.navbar-row {
  display: flex;
  justify-content: space-between;
  background-color: #f7bf50;
  background-repeat: no-repeat;
  height: 54px;
}


#User_Name {
  text-align: center;
  font-size: 200%;
}


button {

  border: none;
  color: black;
  padding: 15px ;
  text-align: center;
  text-decoration: rtl;
  display: inline-block;
  font-size: 26px;
  margin:5px 5px 30px 800px;
  cursor: pointer;
  width: 180px; 
  background-color:#f7bf50;
  
}

footer {
	background-color: #212329;
	padding: 20px 1.5rem;
	font-size: 1.3rem;
	text-align: right;
	direction: ltr;
}

footer p a{
	color: rgb(131, 139, 131);
}



.welcome{
  background-color: #505764;
  padding: 20px 1.5rem;
	font-size: 1rem;
	text-align: right;
  display: flex;
  justify-content: space-between;
}

.profilePic{
  border-radius: 50%;
  background-repeat: no-repeat;
  text-align: right;
  width: 200px;
  margin-right: 30px;
}

#payment{
  background-color: #f7f7f7;
  border: 0.1mm rgb(77, 75, 75) solid;
  border-radius: 15px;
  width: 190px;
  display: block;
  height: 230px;
  position: fixed;
  top: 158px;
  left: 57px;
}

#price{
  font-size: 17.5px;
  padding-top: 0px;
  padding-right: 15px;
  margin-top: 15px;
}


.innerWelcome{
  display: flex;
}

.about{
  padding-right: 50px;
  color: rgba(255, 255, 255, 0.836);
}

#messege{
  background-color: #f7bf50;
  border-color: transparent;
  border-radius: 7px;
  font-size: 28px;
  color: #fff;
  margin-left: 20px;
  margin-right: 25px;
  margin-block-start: 20px;
  padding: 0px;
  width: 5em;
  height: 2.7em;
}

#messege:hover{
  background-color: #f7bf50;
  border-color: transparent;
  color: #fff;
  transform: scale(1.15) perspective(1px);
  transition-duration: 0.5s;
}

#aboutMe{
  background-color: #f7f7f7;
  border: 0.2px rgb(77, 75, 75) solid;
  border-radius: 10px;
  color: #4a4a4a;
  padding: 25px;
  margin-block: 20px;
  margin-right: 50px;
  width: 50em;
  height: 17em;
}

#knowledge{
  background-color: #f7f7f7;
  border-radius: 10px;
  color: #4a4a4a;
  padding: 25px;
  margin-block: 20px;
  margin-right: 50px;
  width: 50em;
  height: 10em;
}

#opinion{
  background-color: #f7f7f7;
  border-radius: 10px;
  color: #4a4a4a;
  padding: 25px;
  margin-block: 20px;
  margin-right: 50px;
  width: 50em;
  height: 10em;
}

#cities{
  background-color: #f7f7f7;
  border-radius: 10px;
  color: #4a4a4a;
  padding: 25px;
  margin-block: 20px;
  margin-right: 50px;
  width: 50em;
  height: 10em;
}

#aboutMe p{
  white-space: pre-line;
}

#addOP{
  background-color: #f7f7f7;
  border: 0.2px #f7bf50 solid;
  border-radius: 7px;
  font-size: 16px;
  color: #f7bf50;
  margin-left: 20px;
  margin-right: 25px;
  margin-block-start: 16px;
  padding: 0px;
  width: 8.5em;
  height: 2.2em;
}

#addOP:hover{
  background-color: #f7bf50;
  border-color: transparent;
  color: #fff;
  transform: scale(1.15) perspective(1px);
  transition-duration: 0.5s;
}

#opinion_set{
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: -28px;
  width: 100%; /* Full width */
  height: 105%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

}

.opinion-content{
  border-radius: 20px;
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 37%;
  height: 90%;
  text-align: center;
}


/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#request{
  display: block;
  margin-block-start: -20px;
}

#connect{
  display: block;
  margin-block-start: 0px;
}

textarea {
  resize: none;
  display: block;
  margin: auto;
  margin-bottom: 1em;
  width: 15em;
  border: solid 1px rgba(20, 83, 116, 0.1);
  transition: all 0.1s;
  text-align: right;
  font-family:Rubik,BlinkMacSystemFont,-apple-system,Segoe\ UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira\ Sans,Droid\ Sans,Helvetica\ Neue,Helvetica,Arial,sans-serif;
}
#send_mess{
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: -28px;
  width: 100%; /* Full width */
  height: 105%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.form {
    display: inline-block;
    width: 62%;
    height: 79%;
    margin: 25px;
    text-align: center;
    font-family:Rubik,BlinkMacSystemFont,-apple-system,Segoe\ UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira\ Sans,Droid\ Sans,Helvetica\ Neue,Helvetica,Arial,sans-serif;
  }
  .form input {
    display: block;
    margin: auto;
    margin-bottom: 1em;
    width: 15em;
    height: 2.1em;
    border: solid 1px rgba(20, 83, 116, 0.1);
    transition: all 0.1s;
    text-align: right;
    font-family:Rubik,BlinkMacSystemFont,-apple-system,Segoe\ UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira\ Sans,Droid\ Sans,Helvetica\ Neue,Helvetica,Arial,sans-serif;

  }
  
  .form input:hover {
    border: solid 1px #145374;
    font-family:Rubik,BlinkMacSystemFont,-apple-system,Segoe\ UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira\ Sans,Droid\ Sans,Helvetica\ Neue,Helvetica,Arial,sans-serif;

  }
  .form input:focus {
    color: #145374;
    font-weight: 600;
    border: solid 1px #145374;
  }
  .form .searchTerm:focus {
    outline: none;
    letter-spacing: 1px;
  }

  .form h1 {
    color: #145374;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
    text-align: center;
    font-size: 400%;
  }
  .form .sns {
    border: solid 0px;
    display: block;
    text-align: center;
    margin: 0;
  }
  .form .button {
    display: block;
    margin: auto;
    margin-top: 1.2em;
    width: 8em;
    height: 2.5em;
  }
  .form .button a {
    display: block;
    width: inherit;
    height: auto;
    border: solid 1.5px #145374;
    border-radius: 20px;
    line-height: 1.8em;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
    color: #145374;
    margin: 0;
    font-size: 25px;
  }
  .form .button a:hover {
    border: solid 2px #ee6f57;
    color: #ee6f57;
    font-weight: 600;
  }

.rate {
  height: 46px;
  padding-right: 13.7em;
  margin-top: -17px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

#addStar{
  background-color: #f7f7f7;
  border: 0.2px #f7bf50 solid;
  border-radius: 7px;
  font-size: 16px;
  color: #f7bf50;
  margin-left: 20px;
  margin-right: 25px;
  margin-block-start: 16px;
  padding: 0px;
  width: 8.5em;
  height: 2.2em;
}

#addStar:hover{
  background-color: #f7bf50;
  border-color: transparent;
  color: #fff;
  transform: scale(1.15) perspective(1px);
  transition-duration: 0.5s;
}




