extends layout
block extrahead
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' type='text/css' media='screen' href='register_messege.css')
    title register messege
block content
    .title
      #rightDiv
      #leftDiv
        .div
          h1 
            | נרשמת בהצלחה!!
          p 
            | שמור את שם המשתמש והסיסמא שלך לכניסה חוזרת
